button.root{
  margin: 4px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: white;
  border: none;
  box-shadow: 0px 0px 6px black;

  &:hover{
      background-color: steelblue;
      color: white;
      box-shadow: 0px 0px 6px white;
    }
    &:disabled{
      background-color: darkgray;
      color: white;
      box-shadow: none;
      cursor: not-allowed;
    }
  &:focus{
  outline: orange dashed 1px;
  outline-offset: 2px;
  }
}