span.root.TextInput {
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    input, textarea {
      margin: 8px 0 0 0;
      border-radius: 6px;
      border: 2px solid var(--purple-header);

      /* Text inside the inputs matches Design System */
      /* WF Body/Body Medium */
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.01em;


      &:focus {
        outline-color: var(--lt-purple1);
      }

      /* prevents padding for PasswordInput in the container AND input elements */
      &:not(.password-container) {
        padding: 12px 20px;
      }

    }
  }
}